body {
    font-family: sans-serif;
    background-color: #8FBC8B;
    line-height: 1.5;
    color: white;
    width: 980px;
    margin: 0 auto;
}
h2, h1 {
    text-align: center;
}
h1 {
    font-size: 32px;
}